@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

    body{
        background: #000024;
    }
    /*scroll bar*/
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb
{
    background: #4babdf;
    border-radius: 6px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1000;
}
header.sticky{
    background: #4babdf;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin: 10px;
}
header ul li a{
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;

}
header ul li:hover{
    cursor: url(img/cursor.png), 
    auto;
    background: #1377a8;
    color: #4babdf;
    box-shadow: 0 0 10px #1377a8;
}
/*home cartel*/
 .banner{
   position: relative;
   width: 100%;
   min-height: 100vh;
   padding: 0px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.banner .bg{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bg .content{
     width: 50%;
     height: 100%;
}
.banner .bg .content h2{
   -webkit-text-stroke: 3px #0d3761;
   text-shadow: 5px 5px 0px #0d3761;
   font-family: 'Press Start 2P', cursive;
   color: #cde3fb;
   font-size: 5rem;
   text-transform: uppercase;
}
.banner .bg img{
    width: 400px;
}
/*slider*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
/*Games*/
.games{
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
.games h2{
    color: white;
    margin: 10px 0;
}
.games ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.games ul li{
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: url(img/cursor.png), 
    auto;
    color: #fff;
}
.games ul li.active{
    background: #4babdf;
    color: white;
    box-shadow: 0 0 10px #4babdf;
}
.games .cardx{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.games .cardx .card{
    width: 280px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #4babdf;
    overflow: hidden;
}
.games .cardx .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.games .cardx .card .content{
    padding:  10px;
}
.games .cardx .card .content h4{
    color: #fff;
    margin: 15px 0;
}
.games .cardx .card .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #4babdf;
    margin-bottom: 10px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0,5,1)forwards;
}

.games .cardx .card .info{
    border-top: 2px solid #2689ba;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.games .cardx .card .info a{
     display: inline-block;
     padding: 10px 20px;
     margin: 20px 0;
     border: 1px solid #1377a8;
     text-decoration: none;
     font-weight: 700;
     border-radius: 5px;
     color: #fff;
     letter-spacing: 1px;
}
.games .cardx .card .info a:hover{
    background: #1377a8;
    border: none;
    color: white;
    box-shadow:  0 0 10px #1377a8;
    cursor: url(img/cursor.png), 
    auto;
}

.games .cardx .card.hide {
    display: none;

}
/*contact*/
.Contact p{
    color: #fff;
   text-align: center;
}
.contact h2{
    color: white;
    margin: 10px 0;
}
.contact .ul {
    position: center;
}
/*Cursor*/
html{
    cursor: url(img/cursor.png), 
    auto;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: #ce6490;
    color: white;
  }


    
